<div class="span6 leftcol well">
  <h1>My Escapes</h1><br/><br/>
<% unless @trips.empty? %>
  <% @trips.each do |trip| %>
    <%= link_to trip.display_name, trip_path(trip) -%>
    <% if trip.start_date %>
      | <%= trip.start_date.to_formatted_s(:day_of_week_date) %> to <%= trip.end_date.to_formatted_s(:day_of_week_date) %>
  <% end %><hr/>
  <% end %>
<% else %>
  You don't have any trips yet.
<% end %>
</div>
<div class="span5 rightcol small well">
  <h1>Create a new Escape</h1><br/><br/>
  <div class="span2 ti"><%= link_to image_tag("tripit.png"), "/auth/tripit" %><br/>
    <%= link_to "Create an escape from TripIt", "/auth/tripit" %><br/></div>
  <div class="span2 ls"><%= link_to image_tag("livingsocial.png"), livingsocial_path %><br/>
    <%= link_to "Create an escape from LivingSocial", livingsocial_path %><br/></div>
  <div class="span3 ewm"><br/><br/><%= link_to "Create your own escape", new_trip_path, :class => 'btn'%></div>
</div>
