<div class="span5 leftcol well">
  <div class="row"><div class="span4"><h1><%= @trip.display_name %></h1></div> <div class="span1"><span class="edit"><%= link_to "Edit", edit_trip_path(@trip) if can? :update, @trip %></span></div></div>
  <%= @trip.primary_location %><br/>
  <% if @trip.start_date %>
    <%= @trip.start_date.to_formatted_s(:day_of_week_date) %> to 
    <%= @trip.end_date.to_formatted_s(:day_of_week_date) %>
  <% end %>
  <br/><br/>
  <% @lodgings.each do |lodging| %>
    <% if lodging.start_date %>
      <%= lodging.start_date.to_formatted_s(:day_of_week_date) %> to <%= lodging.end_date.to_formatted_s(:day_of_week_date) %><br/>
    <% end %>
    <strong><%= lodging.name %></strong> &nbsp; <span class="edit"><%= link_to "Edit", edit_trip_lodging_path(@trip, lodging) if @trip.user == current_user %><br/></span>
    <%= lodging.address %><%= tag('br') if lodging.address %>
    <%= lodging.city %><%= ',' unless lodging.city.blank? || lodging.state.blank? %><%= lodging.state %> <%= lodging.country %><%= tag('br') unless lodging.state.blank? && lodging.state.blank? && lodging.country.blank? %>
    <%= lodging.phone_number %>
    <br/><br/>
  <% end %>
</div>
<div class="span5 rightcol well">
  <% if foursquare_authentication? %>
    <% if @checkins.empty? %>
      No checkins yet.
    <% else %>
      <% @checkins.each do |checkin| %>
        <%= checkin.name %><br/>
        <%= checkin.address %><br/>
        <%= checkin.city %>, <%= checkin.state %> <%= checkin.country %><br/><br/>
      <% end %>
    <% end %>
  <% else %>
    <div class="span2 fs"><%= link_to image_tag("connect-foursquare.png"), "/auth/foursquare" %><br/></div>
    <div class="span2 fst">Connect your foursquare account to keep track of where you go on your Escape.</div>
  <% end %>
</div>
