<div class="span5 leftcol well">
<h1><%= @trip.display_name %></h1>
<%= @trip.primary_location %>
<%= @trip.start_date %>
<%= @trip.end_date %>
<br/><br/>
<% @lodgings.each do |lodging| %>
  <%= lodging.name %><br/>
  <%= lodging.start_date %> <%= lodging.end_date %><br/>
  <%= lodging.address %><br/>
  <%= lodging.city %> <%= lodging.state %> <%= lodging.country %><br/>
  <%= lodging.phone_number %>
  <br/><br/>
<% end %>
</div>
<div class="span5 rightcol well">
  <div class="span2 fs"><%= link_to image_tag("connect-foursquare.png"), "/auth/foursquare" %><br/></div>
  <div class="span2 fst">Connect your foursquare account to keep track of where you go on your Escape.</div>
</div>
