<div class="span3 leftcol well">
  <h3>Sign Up</h3>
  <br/>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages well">
        <% for message in @user.errors.full_messages %>
          <%= message %><br/>
        <% end %>
      </div>
    <% end %>
    <div class="field">
      <%= f.text_field :username, :placeholder => "Username" %>
    </div>
    <div class="field">
      <%= f.text_field :email, :placeholder => "Email" %>
    </div>
    <div class="field">
      <%= f.password_field :password, :placeholder => "Password" %>
    </div>
    <div class="field">
      <%= f.password_field :password_confirmation, :placeholder => "Password Confirmation" %>
    </div>
    <div><%= f.submit 'Create an Account', :class => 'btn btn-info'%></div>
  <% end %>
</div>
